

.container {
  padding-top: 16vh;
  padding-left: 6vh;
  padding-right: 6vh; }

.container canvas {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -o-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none; }

.bar {
  z-index: 3000;
  position: fixed;
  height: 10%;
  width: 100%;
  background-color: #000000; }

.top {
  top: 0; }

.bottom {
  bottom: 0; }

.main {
  z-index: -1;
  margin-bottom: 35vh; }

